<div class='show-posts'>
  <div>
    <p>
      Post #<%= @post.id %> by <%= @post.user.name %>
    </p>
    <p>
      Comments: <%= @post.comments_counter %> Likes: <%= @post.likes_counter %>
    </p>
  </div>
  <p>
    <%= @post.text %>
  </p>
</div>
<div class='comments'>
  <% @post.comments.each do |comment| %>
    <p>
      <%= comment.user.name %> : <%= comment.text %>
    </p>
  <% end %>
</div>